:root {
  --librext-scale-1: 4px;
  --librext-scale-2: 6px;
  --librext-scale-3: 8px;
  --librext-scale-4: 9px;
  --librext-scale-5: 10px;
  --librext-scale-6: 12px;
  --librext-scale-7: 14px;
  --librext-scale-8: 16px;
  --librext-scale-9: 18px;
  --librext-scale-10: 20px;
  --librext-scale-11: 24px;
  --librext-scale-12: 28px;
  --librext-scale-13: 32px;
  --librext-scale-14: 36px;
  --librext-scale-15: 42px;
  --librext-scale-16: 48px;
  --librext-scale-17: 60px;
  --librext-scale-18: 60px;
  --librext-scale-19: 72px;
  --librext-scale-20: 84px;
  --librext-scale-21: 96px;
  --cor-radius-xs: var(--librext-scale-1);
  --cor-radius-sm: var(--librext-scale-3);
  --cor-radius-md: var(--librext-scale-6);
  --cor-radius-lg: var(--librext-scale-8);
  --cor-radius-xl: var(--librext-scale-10);
  --cor-radius-xxl: var(--librext-scale-12);
  --cor-radius-xxxl: var(--librext-scale-13);
  --cor-radius-4xl: var(--librext-scale-16);
  --height-xs: var(--librext-scale-6);
  --height-sm: var(--librext-scale-8);
  --height-md: var(--librext-scale-10);
  --height-lg: var(--librext-scale-12);
  --height-xl: var(--librext-scale-14);
  --height-xxl: var(--librext-scale-16);
  --height-xxxl: var(--librext-scale-18);
  --height-4xl: var(--librext-scale-20);
  --height-5xl: var(--librext-scale-21);
}
