:root {
  --typescale-h1: 2.986rem;
  --typescale-h2: 2.488rem;
  --typescale-h3: 2.074rem;
  --typescale-h4: 1.728rem;
  --typescale-h5: 1.44rem;
  --typescale-h6: 1.2rem;
  --typescale-body: 1rem;
  --typescale-small: 0.833rem;
  --typescale-tiny: 0.75rem;
  --fontfam-display-1: "Cinzel", serif;
  --fontfam-display-2: "Cinzel", serif;
  --fontfam-title-1: "Cormorant Garamond", serif;
  --fontfam-title-2: "Cormorant Garamond", serif;
  --fontfam-label-1: "Lato", sans-serif;
  --fontfam-label-2: "Lato", sans-serif;
  --fontfam-heading-1: "Cormorant Garamond", serif;
  --fontfam-heading-2: "Lato", sans-serif;
  --fontfam-body-1: "Crimson Text", serif;
  --fontfam-body-2: "Open Sans", sans-serif;
}
