:root {
  --grey-0: #ffffff;
  --grey-1: #f6f8fa;
  --grey-2: #eaeef2;
  --grey-3: #d0d7de;
  --grey-4: #afb8c1;
  --grey-5: #8c959f;
  --grey-6: #6e7781;
  --grey-7: #57606a;
  --grey-8: #424a53;
  --grey-9: #32383f;
  --grey-10: #24292f;
  --grey-11: #000000;
  --theme-khaki: #EADFB4;
  --theme-powder-blue: #9BB0C1;
  --theme-cerulean: #51829b;
  --theme-orange: #F6995C;
  --theme-light-blue: #E6FAFF;
  --theme-ocean-blue: #1B628F;
  --theme-navy-blue: #053C5F;
  --theme-deep-blue: #00335E;
  --col-default-light: var(--grey-2);
  --col-default-dark: var(--grey-2);
  --col-accent-light: var(--grey-2);
  --col-accent-dark: var(--grey-2);
  --col-surface-light: var(--grey-2);
  --col-surface-dark: var(--grey-2);
  --col-outline-light: var(--grey-2);
  --col-outline-dark: var(--grey-2);
  --col-body-light: var(--grey-2);
  --col-heading-light: var(--grey-2);
  --col-label-light: var(--grey-2);
  --col-display-light: var(--grey-2);
  --col-rubric-light: var(--grey-2);
  --col-underline-light: var(--grey-2);
  --col-highlight-light: var(--grey-2);
  --col-body-dark: var(--grey-2);
  --col-heading-dark: var(--grey-2);
  --col-label-dark: var(--grey-2);
  --col-display-dark: var(--grey-2);
  --col-rubric-dark: var(--grey-2);
  --col-underline-dark: var(--grey-2);
  --col-highlight-dark: var(--grey-2);
  --col-ok-light: var(--grey-2);
  --col-ok-dark: var(--grey-2);
  --col-info-light: var(--grey-2);
  --col-info-dark: var(--grey-2);
  --col-warning-light: var(--grey-2);
  --col-warning-dark: var(--grey-2);
  --col-error-light: var(--grey-2);
  --col-error-dark: var(--grey-2);
  --col-disabled-light: var(--grey-2);
  --col-disabled-dark: var(--grey-2);
  --col-plain-light: var(--grey-2);
  --col-plain-dark: var(--grey-2);
  --col-primary-light: var(--grey-2);
  --col-primary-dark: var(--grey-2);
  --col-secondary-light: var(--grey-2);
  --col-secondary-dark: var(--grey-2);
  --col-tertiary-light: var(--grey-2);
  --col-tertiary-dark: var(--grey-2);
}

body {
  background-color: var(--col-default-light);
}
