/* TEXT BUILDERS */

:root {
  --fontfam-serif-1: "CrimsonText", "Times New Roman", Georgia, serif;
  --fontfam-serif-2: "CormorantGaramond", "Times New Roman", Georgia, serif;
  --fontfam-serif-3: "Cinzel", "Times New Roman", Georgia, serif;
  --fontfam-sans-1: "OpenSans", Arial, Helvetica, sans-serif;
  --fontfam-sans-2: "Lato", Arial, Helvetica, sans-serif;
  --fontfam-monospace-1: "Inconsolata", Courier, Monaco, monospace;
  --fontfam-monospace-2: "Inconsolata", Courier, Monaco, monospace;
  --typescale-1: 2.986rem;
  --typescale-h1: 2.986rem;
  --typescale-2: 2.488rem;
  --typescale-h2: 2.488rem;
  --typescale-3: 2.074rem;
  --typescale-h3: 2.074rem;
  --typescale-4: 1.728rem;
  --typescale-h4: 1.728rem;
  --typescale-5: 1.44rem;
  --typescale-h5: 1.44rem;
  --typescale-6: 1.2rem;
  --typescale-h6: 1.2rem;
  --typescale-7: 1rem;
  --typescale-body: 1rem;
  --typescale-8: 0.833rem;
  --typescale-small: 0.833rem;
  --typescale-9: 0.75rem;
  --typescale-tiny: 0.75rem;
  --fontfam-display-1: var(--fontfam-serif-3);
  --fontfam-display-2: var(--fontfam-serif-2);
  --fontfam-title-1: var(--fontfam-serif-2);
  --fontfam-title-2: var(--fontfam-serif-3);
  --fontfam-label-1: var(--fontfam-sans-2);
  --fontfam-label-2: var(--fontfam-sans-1);
  --fontfam-heading-1: var(--fontfam-serif-2);
  --fontfam-heading-2: var(--fontfam-serif-1);
  --fontfam-body-1: var(--fontfam-serif-1);
  --fontfam-body-2: var(--fontfam-sans-1);
  --fontfam-code-1: var(--fontfam-monospace-1);
  --fontfam-code-2: var(--fontfam-monospace-1);
  --fontfam-ui-1: var(--fontfam-sans-1);
  --fontfam-ui-2: var(--fontfam-monospace-1);
}

/* ================================================ *\
 * DOCUMENT ROLES
\* ================================================ */

/* ==================================== *\
 *  hero
 * ------------------------------------
 *    typerole = display.1
 *    typescale size = h1
\* ------------------------------------ */
.librext-hero {
  font-weight: bold;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-display-1);
  font-style: normal;
}

/* ==================================== *\
 *  headline
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h1
\* ------------------------------------ */
.librext-headline {
  font-weight: bold;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  title
 * ------------------------------------
 *    typerole = display.1
 *    typescale size = h1
\* ------------------------------------ */
.librext-title {
  font-weight: bold;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-display-1);
  font-style: normal;
}

/* ==================================== *\
 *  subtitle
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h3
\* ------------------------------------ */
.librext-subtitle {
  font-weight: normal;
  font-size: var(--typescale-h3);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  heading1
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h1
\* ------------------------------------ */
h1 {
  font-weight: bold;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  heading2
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h2
\* ------------------------------------ */
h2 {
  font-weight: bold;
  font-size: var(--typescale-h2);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  heading3
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h3
\* ------------------------------------ */
h3 {
  font-weight: bold;
  font-size: var(--typescale-h3);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  heading4
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h4
\* ------------------------------------ */
h4 {
  font-weight: bold;
  font-size: var(--typescale-h4);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  heading5
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h5
\* ------------------------------------ */
h5 {
  font-weight: bold;
  font-size: var(--typescale-h5);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  heading6
 * ------------------------------------
 *    typerole = heading.1
 *    typescale size = h6
\* ------------------------------------ */
h6 {
  font-weight: bold;
  font-size: var(--typescale-h6);
  font-family: var(--fontfam-heading-1);
  font-style: normal;
}

/* ==================================== *\
 *  body
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
p, span {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: normal;
}

/* ==================================== *\
 *  strong
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
b, strong {
  font-weight: bold;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: normal;
}

/* ==================================== *\
 *  em
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
i, em {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: italic;
}

/* ==================================== *\
 *  link
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
a {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: normal;
}

/* ==================================== *\
 *  small
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = small
\* ------------------------------------ */
small {
  font-weight: normal;
  font-size: var(--typescale-small);
  font-family: var(--fontfam-body-1);
  font-style: normal;
}

/* ==================================== *\
 *  tiny
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */
.librext-tiny {
  font-weight: normal;
  font-size: var(--typescale-tiny);
  font-family: var(--fontfam-body-2);
  font-style: normal;
}

/* ==================================== *\
 *  superscript
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */
sup {
  font-weight: normal;
  font-size: var(--typescale-tiny);
  font-family: var(--fontfam-body-2);
  font-style: normal;
}

/* ==================================== *\
 *  subscript
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */
sub {
  font-weight: normal;
  font-size: var(--typescale-tiny);
  font-family: var(--fontfam-body-2);
  font-style: normal;
}

/* ==================================== *\
 *  imgcaption
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = small
\* ------------------------------------ */
figcaption {
  font-weight: normal;
  font-size: var(--typescale-small);
  font-family: var(--fontfam-body-1);
  font-style: normal;
}

/* ==================================== *\
 *  codeinline
 * ------------------------------------
 *    typerole = code.1.1
 *    typescale size = body
\* ------------------------------------ */
code {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-code-1);
  font-style: normal;
}

/* ==================================== *\
 *  codeblock
 * ------------------------------------
 *    typerole = code.1.1
 *    typescale size = body
\* ------------------------------------ */
pre {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-code-1);
  font-style: normal;
}

/* ==================================== *\
 *  quote
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
q {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: italic;
}

/* ==================================== *\
 *  blockquote
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
blockquote {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: italic;
}

/* ==================================== *\
 *  pullquote
 * ------------------------------------
 *    typerole = body.1
 *    typescale size = body
\* ------------------------------------ */
.librext-pullquote {
  font-weight: normal;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body-1);
  font-style: italic;
}

