@import "./librext-base.css";

:root {
  --cor-radius-xs: var(--librext-scale-1);
  --cor-radius-sm: var(--librext-scale-3);
  --cor-radius-md: var(--librext-scale-6);
  --cor-radius-lg: var(--librext-scale-8);
  --cor-radius-xl: var(--librext-scale-10);
  --cor-radius-xxl: var(--librext-scale-12);
  --cor-radius-xxxl: var(--librext-scale-13);
  --cor-radius-4xl: var(--librext-scale-16);
  --height-xs: var(--librext-scale-6);
  --height-sm: var(--librext-scale-8);
  --height-md: var(--librext-scale-10);
  --height-lg: var(--librext-scale-12);
  --height-xl: var(--librext-scale-14);
  --height-xxl: var(--librext-scale-16);
  --height-xxxl: var(--librext-scale-18);
  --height-4xl: var(--librext-scale-20);
  --height-5xl: var(--librext-scale-21);
}
