/* ------------------------------------ *\
 *  hero
 * ------------------------------------
 *    typerole = display
 *    typescale size = h1
\* ------------------------------------ */

.librext-hero {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  headline
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h1
\* ------------------------------------ */

.librext-headline {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  title
 * ------------------------------------
 *    typerole = display
 *    typescale size = h1
\* ------------------------------------ */

.librext-title {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  subtitle
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h3
\* ------------------------------------ */

.librext-subtitle {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  heading1
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h1
\* ------------------------------------ */

h1 {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  heading2
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h2
\* ------------------------------------ */

h2 {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  heading3
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h3
\* ------------------------------------ */

h3 {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  heading4
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h4
\* ------------------------------------ */

h4 {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  heading5
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h5
\* ------------------------------------ */

h5 {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  heading6
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h6
\* ------------------------------------ */

h6 {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  strong
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */

strong {
  font-weight: bold;
}

/* ------------------------------------ *\
 *  em
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */

em {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  link
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */

a {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  small
 * ------------------------------------
 *    typerole = body
 *    typescale size = small
\* ------------------------------------ */

small {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  tiny
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */

.librext-tiny {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  superscript
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */

sup {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  subscript
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */

sub {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  imgcaption
 * ------------------------------------
 *    typerole = body
 *    typescale size = small
\* ------------------------------------ */

figcaption {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  codeinline
 * ------------------------------------
 *    typerole = code.1
 *    typescale size = body
\* ------------------------------------ */

code {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  codeblock
 * ------------------------------------
 *    typerole = code.1
 *    typescale size = body
\* ------------------------------------ */

pre {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  quote
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */

q {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  blockquote
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */

blockquote {
  font-weight: normal;
}

/* ------------------------------------ *\
 *  pullquote
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */

.librext-pullquote {
  font-weight: normal;
}

