/* ================================================ *\
 * ROOT NAMESPACE
\* ================================================ */

:root {
  --typescale-h1: 2.986rem;
  --typescale-h2: 2.488rem;
  --typescale-h3: 2.074rem;
  --typescale-h4: 1.728rem;
  --typescale-h5: 1.44rem;
  --typescale-h6: 1.2rem;
  --typescale-body: 1rem;
  --typescale-small: 0.833rem;
  --typescale-tiny: 0.75rem;
}

/* ================================================ *\
 * DOCUMENT ROLES
\* ================================================ */

/* ==================================== *\
 *  hero
 * ------------------------------------
 *    typerole = display
 *    typescale size = h1
\* ------------------------------------ */
.librext-hero {
  font-weight: bold;
  font-size: 2.986rem;
}

/* ==================================== *\
 *  headline
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h1
\* ------------------------------------ */
.librext-headline {
  font-weight: bold;
  font-size: 2.986rem;
}

/* ==================================== *\
 *  title
 * ------------------------------------
 *    typerole = display
 *    typescale size = h1
\* ------------------------------------ */
.librext-title {
  font-weight: bold;
  font-size: 2.986rem;
}

/* ==================================== *\
 *  subtitle
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h3
\* ------------------------------------ */
.librext-subtitle {
  font-weight: normal;
  font-size: 2.074rem;
}

/* ==================================== *\
 *  heading1
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h1
\* ------------------------------------ */
h1 {
  font-weight: bold;
  font-size: 2.986rem;
}

/* ==================================== *\
 *  heading2
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h2
\* ------------------------------------ */
h2 {
  font-weight: bold;
  font-size: 2.488rem;
}

/* ==================================== *\
 *  heading3
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h3
\* ------------------------------------ */
h3 {
  font-weight: bold;
  font-size: 2.074rem;
}

/* ==================================== *\
 *  heading4
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h4
\* ------------------------------------ */
h4 {
  font-weight: bold;
  font-size: 1.728rem;
}

/* ==================================== *\
 *  heading5
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h5
\* ------------------------------------ */
h5 {
  font-weight: bold;
  font-size: 1.44rem;
}

/* ==================================== *\
 *  heading6
 * ------------------------------------
 *    typerole = heading
 *    typescale size = h6
\* ------------------------------------ */
h6 {
  font-weight: bold;
  font-size: 1.2rem;
}

/* ==================================== *\
 *  strong
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */
strong {
  font-weight: bold;
  font-size: 1rem;
}

/* ==================================== *\
 *  em
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */
em {
  font-weight: normal;
  font-size: 1rem;
}

/* ==================================== *\
 *  link
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */
a {
  font-weight: normal;
  font-size: 1rem;
}

/* ==================================== *\
 *  small
 * ------------------------------------
 *    typerole = body
 *    typescale size = small
\* ------------------------------------ */
small {
  font-weight: normal;
  font-size: 0.833rem;
}

/* ==================================== *\
 *  tiny
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */
.librext-tiny {
  font-weight: normal;
  font-size: 0.75rem;
}

/* ==================================== *\
 *  superscript
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */
sup {
  font-weight: normal;
  font-size: 0.75rem;
}

/* ==================================== *\
 *  subscript
 * ------------------------------------
 *    typerole = body.2
 *    typescale size = tiny
\* ------------------------------------ */
sub {
  font-weight: normal;
  font-size: 0.75rem;
}

/* ==================================== *\
 *  imgcaption
 * ------------------------------------
 *    typerole = body
 *    typescale size = small
\* ------------------------------------ */
figcaption {
  font-weight: normal;
  font-size: 0.833rem;
}

/* ==================================== *\
 *  codeinline
 * ------------------------------------
 *    typerole = code.1
 *    typescale size = body
\* ------------------------------------ */
code {
  font-weight: normal;
  font-size: 1rem;
}

/* ==================================== *\
 *  codeblock
 * ------------------------------------
 *    typerole = code.1
 *    typescale size = body
\* ------------------------------------ */
pre {
  font-weight: normal;
  font-size: 1rem;
}

/* ==================================== *\
 *  quote
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */
q {
  font-weight: normal;
  font-size: 1rem;
}

/* ==================================== *\
 *  blockquote
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */
blockquote {
  font-weight: normal;
  font-size: 1rem;
}

/* ==================================== *\
 *  pullquote
 * ------------------------------------
 *    typerole = body
 *    typescale size = body
\* ------------------------------------ */
.librext-pullquote {
  font-weight: normal;
  font-size: 1rem;
}

