@import "./librext-base.css";

:root {
  --space-xs: var(--librext-scale-1);
  --space-sm: var(--librext-scale-3);
  --space-md: var(--librext-scale-6);
  --space-lg: var(--librext-scale-8);
  --space-xl: var(--librext-scale-10);
  --space-xxl: var(--librext-scale-12);
  --space-xxxl: var(--librext-scale-13);
  --space-xxxxl: var(--librext-scale-16);
}

div {
  margin: var(--space-md);
}
