:root {
  --corner-radius-none: 0px;
  --corner-radius-xs: 4px;
  --corner-radius-sm: 8px;
  --corner-radius-md: 12px;
  --corner-radius-lg: 16px;
  --corner-radius-xl: 20px;
  --corner-radius-xxl: 28px;
  --corner-radius-xxxl: 32px;
  --corner-radius-xxxxl: 48px;
}
