@import "./librext-base.css";
@import "./librext-spacing.css";
@import "./librext-colours.css";

:root {
  --cor-radius-1: 0;
  --cor-radius-2: 2px;
  --cor-radius-3: 4px;
  --cor-radius-4: 6px;
  --cor-radius-5: 8px;
  --cor-radius-6: 10px;
  --widget-ht-xs: 5px;
  --widget-ht-sm: 7px;
  --widget-ht-md: 9px;
  --widget-ht-lg: 11px;
  --widget-ht-xl: 13px;
}

.card.xs {
  height: 12px;
  border-radius: 2px;
  padding: 4px;
  box-shadow: 1px 1px 2px #24292f;
}
.card.sm {
  height: 16px;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 2px 2px 2px #24292f;
}
.card.md {
  height: 20px;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 3px 3px 3px #24292f;
}
.card {
  height: 20px;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 3px 3px 3px #24292f;
}
.card.lg {
  height: 28px;
  border-radius: 8px;
  padding: 9px;
  box-shadow: 4px 4px 4px #24292f;
}
.card.xl {
  height: 36px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 4px #24292f;
}
