:root {
  --lbrxt-col-grey0: #fdf9f0;
  --lbrxt-col-grey1: #f2ede5;
  --lbrxt-col-grey2: #e1dbd4;
  --lbrxt-col-grey3: #cfcac3;
  --lbrxt-col-grey4: #b1aba6;
  --lbrxt-col-grey5: #918b88;
  --lbrxt-col-grey6: #676261;
  --lbrxt-col-grey7: #3f3c3c;
  --lbrxt-col-grey8: #2e2b2b;
  --lbrxt-col-grey9: #1b1818;
  --lbrxt-col-grey10: #110e0e;
  --lbrxt-col-grey11: #050404;
  --lbrxt-col-themeRubricRed: #881403;
  --lbrxt-col-themeOkGreen: #77A265;
  --lbrxt-col-themeWarnYellow: #F6BF17;
  --lbrxt-col-themeErrorRed: #AC4945;
  --lbrxt-col-themeInfoBlue: #2471B8;
  --lbrxt-col-themeBrown1: #885743;
  --lbrxt-col-themeBrown2: #A67257;
  --lbrxt-col-themeBrown3: #C29775;
  --lbrxt-col-text: #050404;
  --lbrxt-col-textRubric: #881403;
  --lbrxt-col-background: #f2ede5;
  --lbrxt-col-primary: #885743;
  --lbrxt-col-secondary: #A67257;
  --lbrxt-col-tertiary: #C29775;
  --lbrxt-col-indicatorOk: #77A265;
  --lbrxt-col-indicatorWarn: #F6BF17;
  --lbrxt-col-indicatorInfo: #2471B8;
  --lbrxt-col-indicatorError: #AC4945;
  --lbrxt-col-indicatorNull: #676261;
  --lbrxt-col-dark-grey0: #fdf9f0;
  --lbrxt-col-dark-grey1: #f2ede5;
  --lbrxt-col-dark-grey2: #e1dbd4;
  --lbrxt-col-dark-grey3: #cfcac3;
  --lbrxt-col-dark-grey4: #b1aba6;
  --lbrxt-col-dark-grey5: #918b88;
  --lbrxt-col-dark-grey6: #676261;
  --lbrxt-col-dark-grey7: #3f3c3c;
  --lbrxt-col-dark-grey8: #2e2b2b;
  --lbrxt-col-dark-grey9: #1b1818;
  --lbrxt-col-dark-grey10: #110e0e;
  --lbrxt-col-dark-grey11: #050404;
  --lbrxt-col-dark-themeRubricRed: #881403;
  --lbrxt-col-dark-themeOkGreen: #77A265;
  --lbrxt-col-dark-themeWarnYellow: #F6BF17;
  --lbrxt-col-dark-themeErrorRed: #AC4945;
  --lbrxt-col-dark-themeInfoBlue: #2471B8;
  --lbrxt-col-dark-themeBrown1: #885743;
  --lbrxt-col-dark-themeBrown2: #A67257;
  --lbrxt-col-dark-themeBrown3: #C29775;
  --lbrxt-col-dark-text: #fdf9f0;
  --lbrxt-col-dark-textRubric: #881403;
  --lbrxt-col-dark-background: #110e0e;
  --lbrxt-col-dark-primary: #885743;
  --lbrxt-col-dark-secondary: #A67257;
  --lbrxt-col-dark-tertiary: #C29775;
  --lbrxt-col-dark-indicatorOk: #77A265;
  --lbrxt-col-dark-indicatorWarn: #F6BF17;
  --lbrxt-col-dark-indicatorInfo: #2471B8;
  --lbrxt-col-dark-indicatorError: #AC4945;
  --lbrxt-col-dark-indicatorNull: #676261;
}

body {
  background-color: var(--lbrxt-col-background);
}
