:root {
  --col-grey0: #ffffff;
  --col-grey1: #fdf9f0;
  --col-grey2: #e7e3da;
  --col-grey3: #d2ccc4;
  --col-grey4: #bcb5af;
  --col-grey5: #a49d98;
  --col-grey6: #8c8480;
  --col-grey7: #726a68;
  --col-grey8: #554f4d;
  --col-grey9: #363030;
  --col-grey10: #100c0c;
  --col-grey11: #000000;
  --col-themeRubricRed: #881403;
  --col-themeOkGreen: #77A265;
  --col-themeWarnYellow: #F6BF17;
  --col-themeErrorRed: #AC4945;
  --col-themeInfoBlue: #2471B8;
  --col-themeBrown1: #885743;
  --col-themeBrown2: #A67257;
  --col-themeBrown3: #C29775;
  --col-text: #000000;
  --col-textRubric: #881403;
  --col-background: #fdf9f0;
  --col-primary: #885743;
  --col-secondary: #A67257;
  --col-tertiary: #C29775;
  --col-indicatorOk: #77A265;
  --col-indicatorWarn: #F6BF17;
  --col-indicatorInfo: #2471B8;
  --col-indicatorError: #AC4945;
  --col-indicatorNull: #8c8480;
  --col-dark-grey0: #ffffff;
  --col-dark-grey1: #fdf9f0;
  --col-dark-grey2: #e7e3da;
  --col-dark-grey3: #d2ccc4;
  --col-dark-grey4: #bcb5af;
  --col-dark-grey5: #a49d98;
  --col-dark-grey6: #8c8480;
  --col-dark-grey7: #726a68;
  --col-dark-grey8: #554f4d;
  --col-dark-grey9: #363030;
  --col-dark-grey10: #100c0c;
  --col-dark-grey11: #000000;
  --col-dark-themeRubricRed: #881403;
  --col-dark-themeOkGreen: #77A265;
  --col-dark-themeWarnYellow: #F6BF17;
  --col-dark-themeErrorRed: #AC4945;
  --col-dark-themeInfoBlue: #2471B8;
  --col-dark-themeBrown1: #885743;
  --col-dark-themeBrown2: #A67257;
  --col-dark-themeBrown3: #C29775;
  --col-dark-text: #ffffff;
  --col-dark-textRubric: #881403;
  --col-dark-background: #100c0c;
  --col-dark-primary: #885743;
  --col-dark-secondary: #A67257;
  --col-dark-tertiary: #C29775;
  --col-dark-indicatorOk: #77A265;
  --col-dark-indicatorWarn: #F6BF17;
  --col-dark-indicatorInfo: #2471B8;
  --col-dark-indicatorError: #AC4945;
  --col-dark-indicatorNull: #8c8480;
}

body {
  background-color: var(--col-background);
}
