/* TEXT BUILDERS */

:root {
  --lbrxt-fontfam-body: "CrimsonText", "Crimson Text", "Times New Roman", Georgia, serif;
  --lbrxt-fontfam-bodyAlt: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
  --lbrxt-fontfam-heading: "CormorantGaramond", "Cormorant Garamond", "Times New Roman", Georgia, serif;
  --lbrxt-fontfam-headingAlt: "CrimsonText", "Crimson Text", "Times New Roman", Georgia, serif;
  --lbrxt-fontfam-display: "Cinzel", "Times New Roman", Georgia, serif;
  --lbrxt-fontfam-monospace: "Inconsolata", Courier, "Monaco", monospace;
  --lbrxt-fontfam-label: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
  --lbrxt-fontfam-uiHeading: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
  --lbrxt-fontfam-uiBody: "Lato", Arial, Helvetica, sans-serif;
  --lbrxt-typescale-1: NaNrem;
  --lbrxt-typescale-2: NaNrem;
  --lbrxt-typescale-3: NaNrem;
  --lbrxt-typescale-4: NaNrem;
  --lbrxt-typescale-5: NaNrem;
  --lbrxt-typescale-6: NaNrem;
  --lbrxt-typescale-7: NaNrem;
  --lbrxt-typescale-8: NaNrem;
  --lbrxt-typescale-9: NaNrem;
  --lbrxt-typescale-10: NaNrem;
  --lbrxt-typescale-11: NaNrem;
  --lbrxt-typescale-12: NaNrem;
  --lbrxt-typescale-13: NaNrem;
  --lbrxt-typescale-14: NaNrem;
  --lbrxt-typescale-15: NaNrem;
  --lbrxt-typescale-tiny: NaNrem;
  --lbrxt-typescale-small: NaNrem;
  --lbrxt-typescale-body: NaNrem;
  --lbrxt-typescale-h6: NaNrem;
  --lbrxt-typescale-h5: NaNrem;
  --lbrxt-typescale-h4: NaNrem;
  --lbrxt-typescale-h3: NaNrem;
  --lbrxt-typescale-h2: NaNrem;
  --lbrxt-typescale-h1: NaNrem;
  --lbrxt-typescale-d6: NaNrem;
  --lbrxt-typescale-d5: NaNrem;
  --lbrxt-typescale-d4: NaNrem;
  --lbrxt-typescale-d3: NaNrem;
  --lbrxt-typescale-d2: NaNrem;
  --lbrxt-typescale-d1: NaNrem;
}

.lbrxt-fontfam-body {
  font-family: "CrimsonText", "Crimson Text", "Times New Roman", Georgia, serif;
}

.lbrxt-fontfam-bodyAlt {
  font-family: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
}

.lbrxt-fontfam-heading {
  font-family: "CormorantGaramond", "Cormorant Garamond", "Times New Roman", Georgia, serif;
}

.lbrxt-fontfam-headingAlt {
  font-family: "CrimsonText", "Crimson Text", "Times New Roman", Georgia, serif;
}

.lbrxt-fontfam-display {
  font-family: "Cinzel", "Times New Roman", Georgia, serif;
}

.lbrxt-fontfam-monospace {
  font-family: "Inconsolata", Courier, "Monaco", monospace;
}

.lbrxt-fontfam-label {
  font-family: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
}

.lbrxt-fontfam-uiHeading {
  font-family: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
}

.lbrxt-fontfam-uiBody {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.lbrxt-typescale-1 {
  font-size: NaNrem;
}

.lbrxt-typescale-2 {
  font-size: NaNrem;
}

.lbrxt-typescale-3 {
  font-size: NaNrem;
}

.lbrxt-typescale-4 {
  font-size: NaNrem;
}

.lbrxt-typescale-5 {
  font-size: NaNrem;
}

.lbrxt-typescale-6 {
  font-size: NaNrem;
}

.lbrxt-typescale-7 {
  font-size: NaNrem;
}

.lbrxt-typescale-8 {
  font-size: NaNrem;
}

.lbrxt-typescale-9 {
  font-size: NaNrem;
}

.lbrxt-typescale-10 {
  font-size: NaNrem;
}

.lbrxt-typescale-11 {
  font-size: NaNrem;
}

.lbrxt-typescale-12 {
  font-size: NaNrem;
}

.lbrxt-typescale-13 {
  font-size: NaNrem;
}

.lbrxt-typescale-14 {
  font-size: NaNrem;
}

.lbrxt-typescale-15 {
  font-size: NaNrem;
}

.lbrxt-typescale-tiny {
  font-size: NaNrem;
}

.lbrxt-typescale-small {
  font-size: NaNrem;
}

.lbrxt-typescale-body {
  font-size: NaNrem;
}

.lbrxt-typescale-h6 {
  font-size: NaNrem;
}

.lbrxt-typescale-h5 {
  font-size: NaNrem;
}

.lbrxt-typescale-h4 {
  font-size: NaNrem;
}

.lbrxt-typescale-h3 {
  font-size: NaNrem;
}

.lbrxt-typescale-h2 {
  font-size: NaNrem;
}

.lbrxt-typescale-h1 {
  font-size: NaNrem;
}

.lbrxt-typescale-d6 {
  font-size: NaNrem;
}

.lbrxt-typescale-d5 {
  font-size: NaNrem;
}

.lbrxt-typescale-d4 {
  font-size: NaNrem;
}

.lbrxt-typescale-d3 {
  font-size: NaNrem;
}

.lbrxt-typescale-d2 {
  font-size: NaNrem;
}

.lbrxt-typescale-d1 {
  font-size: NaNrem;
}

/* ================================================ *\
 * DOCUMENT ROLES
\* ================================================ */

/* ==================================== *\
 *  hero
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
.lbrxt-hero {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h1);
  font-family: var(--fix-this-thing-fontfam-display);
  font-style: normal;
  letter-spacing: 0.2rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  headline
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
.lbrxt-headline {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h1);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.012rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  title
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
.lbrxt-title {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h1);
  font-family: var(--fix-this-thing-fontfam-display);
  font-style: normal;
  letter-spacing: 0.2rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  subtitle
 * ------------------------------------
 *    typescale size = h3
\* ------------------------------------ */
.lbrxt-subtitle {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-h3);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  heading1
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
h1,
.lbrxt-h1 {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h1);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.012rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  heading2
 * ------------------------------------
 *    typescale size = h2
\* ------------------------------------ */
h2,
.lbrxt-h2 {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h2);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.012rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  heading3
 * ------------------------------------
 *    typescale size = h3
\* ------------------------------------ */
h3,
.lbrxt-h3 {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h3);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.06rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  heading4
 * ------------------------------------
 *    typescale size = h4
\* ------------------------------------ */
h4,
.lbrxt-h4 {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h4);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.06rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  heading5
 * ------------------------------------
 *    typescale size = h5
\* ------------------------------------ */
h5,
.lbrxt-h5 {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h5);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.04rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  heading6
 * ------------------------------------
 *    typescale size = h6
\* ------------------------------------ */
h6,
.lbrxt-h6 {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-h6);
  font-family: var(--fix-this-thing-fontfam-heading);
  font-style: normal;
  letter-spacing: 0.04rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #693628;
}

/* ==================================== *\
 *  body
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
p, span,
.lbrxt-body {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  strong
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
b, strong,
.lbrxt-strong {
  font-weight: 700;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.04rem;
  line-height: 1.25;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  em
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
i, em,
.lbrxt-em {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: italic;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  rubric
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
.lbrxt-rubric {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #881403;
}

/* ==================================== *\
 *  li
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
li,
.lbrxt-li {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
  color: #050404;
}

/* ==================================== *\
 *  link
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
a,
.lbrxt-link {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  small
 * ------------------------------------
 *    typescale size = small
\* ------------------------------------ */
small,
.lbrxt-small {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-small);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  tiny
 * ------------------------------------
 *    typescale size = tiny
\* ------------------------------------ */
.lbrxt-tiny {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-tiny);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  superscript
 * ------------------------------------
 *    typescale size = tiny
\* ------------------------------------ */
sup,
.lbrxt-super {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-tiny);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  subscript
 * ------------------------------------
 *    typescale size = tiny
\* ------------------------------------ */
sub,
.lbrxt-sub {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-tiny);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  imgcaption
 * ------------------------------------
 *    typescale size = small
\* ------------------------------------ */
figcaption,
.lbrxt-imgcap {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-small);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  codeinline
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
code,
.lbrxt-codein {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-monospace);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  codeblock
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
pre,
.lbrxt-codeblk {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-monospace);
  font-style: normal;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  quote
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
q,
.lbrxt-quote {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: italic;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  blockquote
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
blockquote,
.lbrxt-bquote {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: italic;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

/* ==================================== *\
 *  pullquote
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
.lbrxt-pquote {
  font-weight: 400;
  font-size: var(--fix-this-thing-typescale-body);
  font-family: var(--fix-this-thing-fontfam-body);
  font-style: italic;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #050404;
}

