/* TEXT BUILDERS */

:root {
  --fontfam-body: "CrimsonText", "Crimson Text", "Times New Roman", Georgia, serif;
  --fontfam-bodyAlt: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
  --fontfam-heading: "CormorantGaramond", "Cormorant Garamond", "Times New Roman", Georgia, serif;
  --fontfam-headingAlt: "CrimsonText", "Crimson Text", "Times New Roman", Georgia, serif;
  --fontfam-display: "Cinzel", "Times New Roman", Georgia, serif;
  --fontfam-monospace: "Inconsolata", Courier, "Monaco", monospace;
  --fontfam-label: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
  --fontfam-uiHeading: "OpenSans", "Open Sans", Arial, Helvetica, sans-serif;
  --fontfam-uiBody: "Lato", Arial, Helvetica, sans-serif;
  --typescale-1: 0.75rem;
  --typescale-2: 0.833rem;
  --typescale-3: 1rem;
  --typescale-4: 1.2rem;
  --typescale-5: 1.44rem;
  --typescale-6: 1.728rem;
  --typescale-7: 2.074rem;
  --typescale-8: 2.488rem;
  --typescale-9: 2.986rem;
  --typescale-h1: 2.986rem;
  --typescale-h2: 2.488rem;
  --typescale-h3: 2.074rem;
  --typescale-h4: 1.728rem;
  --typescale-h5: 1.44rem;
  --typescale-h6: 1.2rem;
  --typescale-body: 1rem;
  --typescale-small: 0.833rem;
  --typescale-tiny: 0.75rem;
}

/* ================================================ *\
 * DOCUMENT ROLES
\* ================================================ */

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
.lbrxt-hero {
  font-weight: 700;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-display);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
.lbrxt-headline {
  font-weight: 700;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
.lbrxt-title {
  font-weight: 700;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-display);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h3
\* ------------------------------------ */
.lbrxt-subtitle {
  font-weight: 400;
  font-size: var(--typescale-h3);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h1
\* ------------------------------------ */
h1,
.lbrxt-h1 {
  font-weight: 700;
  font-size: var(--typescale-h1);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h2
\* ------------------------------------ */
h2,
.lbrxt-h2 {
  font-weight: 700;
  font-size: var(--typescale-h2);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h3
\* ------------------------------------ */
h3,
.lbrxt-h3 {
  font-weight: 700;
  font-size: var(--typescale-h3);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h4
\* ------------------------------------ */
h4,
.lbrxt-h4 {
  font-weight: 700;
  font-size: var(--typescale-h4);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h5
\* ------------------------------------ */
h5,
.lbrxt-h5 {
  font-weight: 700;
  font-size: var(--typescale-h5);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = h6
\* ------------------------------------ */
h6,
.lbrxt-h6 {
  font-weight: 700;
  font-size: var(--typescale-h6);
  font-family: var(--fontfam-heading);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
p, span,
.lbrxt-body {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
b, strong,
.lbrxt-strong {
  font-weight: 700;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
i, em,
.lbrxt-em {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: italic;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
a,
.lbrxt-link {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = small
\* ------------------------------------ */
small,
.lbrxt-small {
  font-weight: 400;
  font-size: var(--typescale-small);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = tiny
\* ------------------------------------ */
.lbrxt-tiny {
  font-weight: 400;
  font-size: var(--typescale-tiny);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = tiny
\* ------------------------------------ */
sup,
.lbrxt-super {
  font-weight: 400;
  font-size: var(--typescale-tiny);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = tiny
\* ------------------------------------ */
sub,
.lbrxt-sub {
  font-weight: 400;
  font-size: var(--typescale-tiny);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = small
\* ------------------------------------ */
figcaption,
.lbrxt-imgcap {
  font-weight: 400;
  font-size: var(--typescale-small);
  font-family: var(--fontfam-body);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
code,
.lbrxt-codein {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-monospace);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
pre,
.lbrxt-codeblk {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-monospace);
  font-style: normal;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
q,
.lbrxt-quote {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: italic;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
blockquote,
.lbrxt-bquote {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: italic;
}

/* ==================================== *\
 *  undefined
 * ------------------------------------
 *    typescale size = body
\* ------------------------------------ */
.lbrxt-pquote {
  font-weight: 400;
  font-size: var(--typescale-body);
  font-family: var(--fontfam-body);
  font-style: italic;
}

