:root {
  --col-grey0: #fdf9f0;
  --col-grey1: #f2ede5;
  --col-grey2: #e1dbd4;
  --col-grey3: #cfcac3;
  --col-grey4: #b1aba6;
  --col-grey5: #918b88;
  --col-grey6: #676261;
  --col-grey7: #3f3c3c;
  --col-grey8: #2e2b2b;
  --col-grey9: #1b1818;
  --col-grey10: #110e0e;
  --col-grey11: #050404;
  --col-themeRubricRed: #881403;
  --col-themeOkGreen: #77A265;
  --col-themeWarnYellow: #F6BF17;
  --col-themeErrorRed: #AC4945;
  --col-themeInfoBlue: #2471B8;
  --col-themeBrown1: #885743;
  --col-themeBrown2: #A67257;
  --col-themeBrown3: #C29775;
  --col-text: #050404;
  --col-textRubric: #881403;
  --col-background: #f2ede5;
  --col-primary: #885743;
  --col-secondary: #A67257;
  --col-tertiary: #C29775;
  --col-indicatorOk: #77A265;
  --col-indicatorWarn: #F6BF17;
  --col-indicatorInfo: #2471B8;
  --col-indicatorError: #AC4945;
  --col-indicatorNull: #676261;
  --col-dark-grey0: #fdf9f0;
  --col-dark-grey1: #f2ede5;
  --col-dark-grey2: #e1dbd4;
  --col-dark-grey3: #cfcac3;
  --col-dark-grey4: #b1aba6;
  --col-dark-grey5: #918b88;
  --col-dark-grey6: #676261;
  --col-dark-grey7: #3f3c3c;
  --col-dark-grey8: #2e2b2b;
  --col-dark-grey9: #1b1818;
  --col-dark-grey10: #110e0e;
  --col-dark-grey11: #050404;
  --col-dark-themeRubricRed: #881403;
  --col-dark-themeOkGreen: #77A265;
  --col-dark-themeWarnYellow: #F6BF17;
  --col-dark-themeErrorRed: #AC4945;
  --col-dark-themeInfoBlue: #2471B8;
  --col-dark-themeBrown1: #885743;
  --col-dark-themeBrown2: #A67257;
  --col-dark-themeBrown3: #C29775;
  --col-dark-text: #fdf9f0;
  --col-dark-textRubric: #881403;
  --col-dark-background: #110e0e;
  --col-dark-primary: #885743;
  --col-dark-secondary: #A67257;
  --col-dark-tertiary: #C29775;
  --col-dark-indicatorOk: #77A265;
  --col-dark-indicatorWarn: #F6BF17;
  --col-dark-indicatorInfo: #2471B8;
  --col-dark-indicatorError: #AC4945;
  --col-dark-indicatorNull: #676261;
}

body {
  background-color: var(--col-background);
}
