:root {
  --col-grey0: #ffffff;
  --col-grey1: #f6f8fa;
  --col-grey2: #eaeef2;
  --col-grey3: #d0d7de;
  --col-grey4: #afb8c1;
  --col-grey5: #8c959f;
  --col-grey6: #6e7781;
  --col-grey7: #57606a;
  --col-grey8: #424a53;
  --col-grey9: #32383f;
  --col-grey10: #24292f;
  --col-grey11: #000000;
  --col-themeKhaki: #EADFB4;
  --col-themePowderBlue: #9BB0C1;
  --col-themeCerulean: #51829b;
  --col-themeOrange: #F6995C;
  --col-themeLightBlue: #E6FAFF;
  --col-themeOceanBlue: #1B628F;
  --col-themeNavyBlue: #053C5F;
  --col-themeDeepBlue: #00335E;
  --col-text: #000000;
  --col-background: #f6f8fa;
  --col-primary: #1B628F;
  --col-secondary: #F6995C;
  --col-tertiary: #EADFB4;
  --col-indicatorOk: #E6FAFF;
  --col-indicatorWarn: #E6FAFF;
  --col-indicatorError: #E6FAFF;
  --col-indicatorInfo: #E6FAFF;
  --col-indicatorNull: #E6FAFF;
  --col-dark-grey0: #ffffff;
  --col-dark-grey1: #f6f8fa;
  --col-dark-grey2: #eaeef2;
  --col-dark-grey3: #d0d7de;
  --col-dark-grey4: #afb8c1;
  --col-dark-grey5: #8c959f;
  --col-dark-grey6: #6e7781;
  --col-dark-grey7: #57606a;
  --col-dark-grey8: #424a53;
  --col-dark-grey9: #32383f;
  --col-dark-grey10: #24292f;
  --col-dark-grey11: #000000;
  --col-dark-themeKhaki: #EADFB4;
  --col-dark-themePowderBlue: #9BB0C1;
  --col-dark-themeCerulean: #51829b;
  --col-dark-themeOrange: #F6995C;
  --col-dark-themeLightBlue: #E6FAFF;
  --col-dark-themeOceanBlue: #1B628F;
  --col-dark-themeNavyBlue: #053C5F;
  --col-dark-themeDeepBlue: #00335E;
  --col-dark-text: #ffffff;
  --col-dark-background: #24292f;
  --col-dark-primary: #1B628F;
  --col-dark-secondary: #F6995C;
  --col-dark-tertiary: #EADFB4;
  --col-dark-indicatorOk: #E6FAFF;
  --col-dark-indicatorWarn: #E6FAFF;
  --col-dark-indicatorError: #E6FAFF;
  --col-dark-indicatorInfo: #E6FAFF;
  --col-dark-indicatorNull: #E6FAFF;
}

body {
  background-color: var(--col-background);
}
