@import "./librext-fonts-base.css";


:root {
  --font-hero: 'OpenSans', 'Open Sans', sans-serif;
  --font-headline: 'OpenSans', 'Open Sans', sans-serif;

  --font-title: 'OpenSans', 'Open Sans', sans-serif;
  --font-subtitle: 'OpenSans', 'Open Sans', sans-serif;
  --font-heading-1: 'OpenSans', 'Open Sans', sans-serif;
  --font-heading-2: 'OpenSans', 'Open Sans', sans-serif;
  --font-heading-3: 'OpenSans', 'Open Sans', sans-serif;
  --font-heading-4: 'OpenSans', 'Open Sans', sans-serif;
  --font-heading-5: 'OpenSans', 'Open Sans', sans-serif;
  --font-heading-6: 'OpenSans', 'Open Sans', sans-serif;

  --font-strong: 'OpenSans', 'Open Sans', sans-serif;
  --font-em: 'OpenSans', 'Open Sans', sans-serif;
  --font-link: 'OpenSans', 'Open Sans', sans-serif;
  --font-small: 'OpenSans', 'Open Sans', sans-serif;
  --font-tiny: 'OpenSans', 'Open Sans', sans-serif;
  --font-superscript: 'OpenSans', 'Open Sans', sans-serif;
  --font-subscript: 'OpenSans', 'Open Sans', sans-serif;
  --font-img-caption: 'OpenSans', 'Open Sans', sans-serif;

  --font-code: 'OpenSans', 'Open Sans', sans-serif;
  --font-code-inline: 'OpenSans', 'Open Sans', sans-serif;
  --font-code-block: 'OpenSans', 'Open Sans', sans-serif;

  --font-quote: 'OpenSans', 'Open Sans', sans-serif;
  --font-block-quote: 'OpenSans', 'Open Sans', sans-serif;
  --font-pull-quote: 'OpenSans', 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--text-light);
}

p,
span,
input,
input::placeholder,
button,
label {
  font-family: var(--font-body);
  color: var(--text-light);
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p,
span,
input {
  font-size: 1rem;
}

small,
label {
  font-size: 0.833rem;
}

sub,
sup {
  font-size: 0.694rem;
}
