/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/


/* ========
  Cinzel 
==========*/

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-ExtraBold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Black.ttf') format('ttf');
  font-weight: 900;
}


/* ========
  Cormorant_Garamond 
==========*/

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}


/*============ 
  Crimson_Text 
============*/

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/CrimsonText-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}


/* ========
  Inconsolata 
==========*/

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}


/* ========
  Lato 
==========*/

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Black.ttf') format('ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-BlackItalic.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
}


/* ========
  OpenSans 
==========*/

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Bold.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-ExtraBold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-BoldItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('ttf');
  font-weight: 800;
  font-style: italic;
}


/* ============ 
  Base Variables (Root Namespace)
============ */

:root {
  --font-serif-1: 'CrimsonText', sans-serif;
  --font-serif-2: 'CormorantGaramond', sans-serif;

  --font-sans-1: 'OpenSans', sans-serif;
  --font-sans-2: 'Lato', sans-serif;

  --font-monospace-1: 'Inconsolata', sans-serif;
  --font-monospace-2: 'Inconsolata', sans-serif;

  --font-display-1: 'Cinzel', sans-serif;
  --font-display-2: 'Cinzel', sans-serif;
}