@import "./librext-fonts-base.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--text-light);
}

p,
span,
input,
input::placeholder,
button,
label {
  font-family: var(--font-body);
  color: var(--text-light);
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p,
span,
input {
  font-size: 1rem;
}

small,
label {
  font-size: 0.833rem;
}

sub,
sup {
  font-size: 0.694rem;
}
