/* ========
  Cinzel 
==========*/

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

/* ========
  Cormorant_Garamond 
==========*/

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('Cormorant_Garamond/Cormorant_Garamond-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('Cormorant_Garamond/Cormorant_Garamond-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('Cormorant_Garamond/Cormorant_Garamond-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

/*============ 
  Crimson_Text 
============*/

@font-face {
  font-family: 'Crimson_Text';
  src: url('Crimson_Text/Crimson_Text-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('Crimson_Text/Crimson_Text-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* ========
  Inconsolata 
==========*/

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

/* ========
  Lato 
==========*/

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

/* ========
  OpenSans 
==========*/

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

/*============ 
  Root Namespace
============*/

:root {
  --font-heading: 'Cormorant_Garamond', sans-serif;
  --font-heading-serif: 'Cormorant_Garamond', sans-serif;
  --font-heading-serif-alt: 'Cormorant_Garamond', sans-serif;
  --font-heading-sans: 'Cormorant_Garamond', sans-serif;
  --font-heading-sans-alt: 'Cormorant_Garamond', sans-serif;

  --font-body: 'OpenSans', 'Open Sans', sans-serif;
  --font-body-serif: 'OpenSans', 'Open Sans', sans-serif;
  --font-body-serif-alt: 'OpenSans', 'Open Sans', sans-serif;
  --font-body-sans: 'OpenSans', 'Open Sans', sans-serif;
  --font-body-sans-alt: 'OpenSans', 'Open Sans', sans-serif;

  --font-display: 'OpenSans', 'Open Sans', sans-serif;
  --font-display-serif: 'OpenSans', 'Open Sans', sans-serif;
  --font-display-serif-alt: 'OpenSans', 'Open Sans', sans-serif;
  --font-display-sans: 'OpenSans', 'Open Sans', sans-serif;
  --font-display-sans-alt: 'OpenSans', 'Open Sans', sans-serif;

  --font-monospace: 'OpenSans', 'Open Sans', sans-serif;

  --font-heading-ui: 'Cormorant_Garamond', sans-serif;
  --font-body-ui: 'OpenSans', 'Open Sans', sans-serif;
}