/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/


/* ========
  Cinzel 
==========*/

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}


/* ========
  Cormorant_Garamond 
==========*/

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/Cormorant_Garamond-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/Cormorant_Garamond-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('Cormorant_Garamond/Cormorant_Garamond-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

/*============ 
  Crimson_Text 
============*/

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/Crimson_Text-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('Crimson_Text/Crimson_Text-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


/* ========
  Inconsolata 
==========*/

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata/Inconsolata-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}


/* ========
  Lato 
==========*/

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}


/* ========
  OpenSans 
==========*/

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}


/* ============ 
  Base Variables (Root Namespace)
============ */

:root {
  --font-serif-1: 'CrimsonText', sans-serif;
  --font-serif-2: 'CormorantGaramond', sans-serif;

  --font-sans-1: 'OpenSans', sans-serif;
  --font-sans-2: 'Lato', sans-serif;

  --font-monospace-1: 'Inconsolata', sans-serif;
  --font-monospace-2: 'Inconsolata', sans-serif;

  --font-display-1: 'Cinzel', sans-serif;
  --font-display-2: 'Cinzel', sans-serif;
}
