:root {
    /*
      Typical breakpoints
      360px - mobile 
      568px - small landscape 
      666px - large landscape 
      768px - tablet 
      1024px - large tablet/small laptop 
      1300px - full desktop 
      2500px - large monitors
    */

    /* 480 and less: Small phones (default, as mobile-first) */
    --breakpoint-mobile: 480px;
    /* 480-768: Phones, small tablets */
    --breakpoint-tablet: 768px;
    /* 768-960: Large Tablets */
    --breakpoint-laptop: 960px;
    /* 960-1300: Laptop */
    --breakpoint-desktop: 1300px;
    /* 1300-2500: Desktop */
    --breakpoint-lg-desktop: 2500px;
    /* 2500 and larger: Massive screens */

    --page-container-width: 300px;

    /* --hvy-box-shadow: 0.125rem 0.125rem 0.67rem rgba(0, 0, 0, 0.5);
    --typ-box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.25);

    --hvy-box-shadow-in: inset 0.125rem 0.125rem 0.67rem rgba(0, 0, 0, 0.5);
    --typ-box-shadow-in: inset 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.25); */

    /* --typ-border-radius: 3px; */
}


@media (min-width: 481px) {
    :root {
        --page-container-width: 480px;
    }
}

@media (min-width: 769px) {
    :root {
        --page-container-width: 768px;
    }
}

@media (min-width: 961px) {
    :root {
        --page-container-width: 960px;
    }
}

@media (min-width: 1301px) {
    :root {
        --page-container-width: 1300px;
    }
}

@media (min-width: 2501px) {
    :root {
        --page-container-width: 2500px;
    }
}



/* ==================================== *\
 * BASE STYLES
\* ------------------------------------ */

.page-container {
    width: var(--page-container-width);
    margin: 0 auto;
}

.type-role {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.type-role-specimen {
    flex: 1 0 100%
}

.type-role-info {
    flex: 1 0 100%
}

@media (min-width: 961px) {
    .type-role {
        flex-wrap: nowrap;
    }

    .type-role-specimen {
        flex: 1 0 80%
    }

    .type-role-info {
        flex: 1 0 20%
    }
}



/* ==================================== *\
 * SHAPES
\* ------------------------------------ */

.card {
    margin: 4rem 0;
}

.shape-box {
    border-radius: 0;
    background-color: #cccccc;
}



/* ==================================== *\
 * COLOURS
\* ------------------------------------ */

.palette-row {
    display: flex;
    margin: 2rem 0;
}

.palette-item {
    flex: 1 1 auto;
}

.palette-box {
    height: 8rem;
    margin: 0;
    background-color: #bbbbbb;
}

.palette-box.var-1 {
    background-color: #aaaaaa;
}

.palette-box.var-2 {
    background-color: #999999;
}

.palette-box.var-3 {
    background-color: #888888;
}

.palette-box.var-4 {
    background-color: #777777;
}

.palette-cell {
    display: flex;
    margin: 1.5rem 0;
    justify-content: space-around;
}

.palette-cell .palette-row {
    flex: 1 1 auto;
    margin: 2.25rem;
}

/* ------------------------------------ *\
 * Colour Details table
\* ------------------------------------ */

.colour-details {
    margin: 2.25rem 0;
}

.colour-detail {
    /* margin-top: 4rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.colour-detail-desc {
    flex: 1 0 100%;
    padding-top: 2rem;
}

.colour-detail-swatch {
    flex: 1 0 100%;
    display: flex;
}

.colour-swatch-box {
    border-radius: 0.33rem;
    background-color: #cccccc;
}

.colour-detail-swatch .palette-cell {
    margin: 0;
    flex: 1 1 auto;
}

.colour-detail .palette-cell .palette-box {
    flex: 1 1 auto;
    margin: 2.25rem;
}

.colour-bg-light {
    background-color: #e6e6e6;
}

.colour-bg-dark {
    background-color: #181818;
}

@media (min-width: 961px) {
    .colour-detail-desc {
        flex: 1 0 33%;
    }

    .colour-detail-swatch {
        flex: 1 0 67%;
    }

    .colour-detail {
        flex-wrap: nowrap;
    }
}

/* ------------------------------------ *\
 * Colour Layers display
\* ------------------------------------ */

.colour-layers {
    height: 25rem;
    width: 100%;
    position: relative;
}

.colour-layer {
    height: 12.5rem;
    width: calc(100% - 9.375rem);
    position: absolute;
    background-color: #bbbbbb;
}

.colour-layer.layer-1 {
    bottom: 0;
    left: 0;
}

.colour-layer.layer-2 {
    bottom: 3.125rem;
    left: 3.125rem;
}

.colour-layer.layer-3 {
    bottom: 6.25rem;
    left: 6.25rem;
}

.colour-layer.layer-4 {
    bottom: 9.375rem;
    left: 9.375rem;
}

.colour-layers-light .layer-1 {
    background-color: #bbbbbb;
}

.colour-layers-light .layer-2 {
    background-color: #aaaaaa;
}

.colour-layers-light .layer-3 {
    background-color: #999999;
}

.colour-layers-light .layer-4 {
    background-color: #888888;
}

.colour-layers-dark .layer-1 {
    background-color: #222222;
}

.colour-layers-dark .layer-2 {
    background-color: #333333;
}

.colour-layers-dark .layer-3 {
    background-color: #444444;
}

.colour-layers-dark .layer-4 {
    background-color: #555555;
}



/* ==================================== *\
 * SHAPES
\* ------------------------------------ */

.shape-box-set {
    display: flex;
    flex-wrap: wrap;
}

.shape-box-wrapper {
    flex: 1 1 33%;
    display: flex;
}

.shape-box {
    flex: 1 1 auto;
    height: 12.5rem;
    margin: 1.5rem;
    background-color: #bbbbbb;
}

/* ------------------------------------ *\
 * Widgets display
\* ------------------------------------ */

.shape-box-set.widget .shape-box-wrapper {
    flex: 1 1 50%;
}

.widget.size-xs {
    height: var(--height-xs);
}

.widget.size-sm {
    height: var(--height-sm);
}

.widget.size-md {
    height: var(--height-md);
}

.widget.size-lg {
    height: var(--height-lg);
}

.widget.size-xl {
    height: var(--height-xl);
}

.widget.size-xxl {
    height: var(--height-xxl);
}

.widget.size-xxxl {
    height: var(--height-xxxl);
}

.widget.size-4xl {
    height: var(--height-4xl);
}

.widget.size-5xl {
    height: var(--height-5xl);
}