/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/


/* ========
  PT Serif 
==========*/

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-Bold.ttf');
  font-weight: 700;
}



@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PTSerif';
  src: url('PTSerif-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
